<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>危安物品清點</title>
  <link rel="stylesheet" href="dg-counter.css">
</head>
<body>
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- component template -->
  <script type="text/x-template" id="counting-template">
    <div>

    <input placeholder="Add new count..."v-model="newCount" @keyup.enter="addCount">

    <table>
      <thead>
        <tr>
          <th v-for="key in columns">
            {{ key | capitalize }}
          </th>
          <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        <tr v-for="entry in data">
          <td v-for="key in columns">
            {{ entry[key] }}
          </td>
          <td>
            <button class="button" @click="increment(entry)">+1</button>
            <button class="button" @click="decrement(entry)">-1</button>
            <button class="button" @click="setActive(entry)">Active</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Total:</th>
          <th>{{ sum }}</th>
          <th><button class="button" @click="reset()">Reset</button></th>
        </tr>
      </thead>
    </table>
    </div>
  </script>

  <!-- demo root element -->
  <div id="demo">
    <counting-table
      :data="gridData"
      :columns="gridColumns">
    </counting-table>
  </div>

  <script>
  // register the grid component
vm = Vue.component('counting-table', {
  template: '#counting-template',
  props: {
    data: Array,
    columns: Array,
    newCount: String
  },
  data: function () {
    this.reset()
    return {
      activeId: 6  // 鉛酸電池
    }
  },
  computed: {
    sum: function () {
      var x = 0;
      this.data.forEach(function (category) {
        x += category.count;
      })
      return x;
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  },
  methods: {
    reset: function () {
      this.data.forEach(function (category) {
        category.count = 0;
      })
    },
    increment: function (category) {
      category.count += 1;
    },
    decrement: function (category) {
      if (category.count > 0) {
        category.count -= 1;
      }
    },
    setActive: function (category) {
      this.activeId = category.id;
    },
    addCount: function () {
      var num = Number(this.newCount)
      console.log(num)
      this.data[this.activeId-1].count += num
      this.newCount = ''
    }
  }
})

// bootstrap the demo
var vm = new Vue({
  el: '#demo',
  data: {
    countText: '',
    gridColumns: ['type', 'count'],
    gridData: [
      { id:  1, type: '刀剪', count: 1234 },
      { id:  2, type: '腳架', count: 1234 },
      { id:  3, type: '棍棒', count: 1234 },
      { id:  4, type: '工具', count: 1234 },
      { id:  5, type: '打火機', count: 1234 },
      { id:  6, type: '鉛酸電池', count: 1234 },
      { id:  7, type: '槍刀玩具', count: 1234 },
      { id:  8, type: '噴罐', count: 1234 },
      { id:  9, type: '防狼噴霧', count: 1234 },
      { id: 10, type: '煙火', count: 1234 },
      { id: 11, type: '易燃液體', count: 1234 },
      { id: 12, type: '腐蝕液體', count: 1234 }
    ]
  }
})
</script>
</body>