<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>危安物品清點</title>
  <link rel="stylesheet" href="dg-counter.css">
</head>
<body>
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- component template -->
  <script type="text/x-template" id="counting-template">
    <div>
      
      <input placeholder="Add new count..."v-model="newCount" @keyup.enter="addCount">
      
      <table>
        <thead>
          <tr>
            <th class="control">Actions</th>
            <th v-for="key in columns">
              {{ key | capitalize }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="entry in data" :key="entry.id"
            v-bind:class="{ active: entry.isSelected }">
            <td class="control">
              <div class="row">
                <div class="block triangle_up" @click="increment(entry)"></div>
                <div class="block triangle_down" @click="decrement(entry)"></div>
                <button 
                  v-if="entry.id!=activeId"
                  class="block button" @click="setActive(entry)">Active</button>
                <div
                  v-if="entry.id==activeId" class="block"
                  style="text-align: center; font-size: 28px;">ACTIVE</div>
              </div>
            </td>
            <td v-for="key in columns">
              <span v-if="entry.id!=activeId"> {{ entry[key] }} </span>
              <span
                v-if="entry.id==activeId"
                style="font-weight: bold"> {{ entry[key] }} </span>
            </td>
            
          </tr>
        </tbody>
      </table>
      
      <table>
        <thead>
          <tr>
            <th>Total:</th>
            <th>{{ sum }}</th>
            <th><button class="button" @click="reset()">Reset</button></th>
          </tr>
        </thead>
      </table>
    </div>
  </script>
  
  <!-- demo root element -->
  <div id="demo">
    <counting-table
    :data="gridData"
    :columns="gridColumns">
  </counting-table>
</div>

<script>
  // register the grid component
  Vue.component('counting-table', {
    template: '#counting-template',
    props: {
      data: Array,
      columns: Array,
      newCount: String
    },
    data: function () {
      this.reset()
      var initActiveId = 6; // 鉛酸電池
      this.data[initActiveId - 1].isSelected = true;
      return {
        activeId: initActiveId
      }
    },
    computed: {
      sum: function () {
        var x = 0;
        this.data.forEach(function (category) {
          x += category.count;
        })
        return x;
      }
    },
    filters: {
      capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
      }
    },
    methods: {
      reset: function () {
        this.data.forEach(function (category) {
          category.count = 0;
        })
        console.log('Reset all categories to zero.');
      },
      increment: function (category) {
        category.count += 1;
        console.log(category.type + ' increased by one (now ' 
        + category.count + ').');
      },
      decrement: function (category) {
        if (category.count <= 0) {
          console.log('Error: Category is empty. Ignore decrement.')
        } else {
          category.count -= 1;
          console.log(category.type + ' decreased by one (now ' 
          + category.count + ').');
        }
      },
      setActive: function (category) {
        this.data[this.activeId - 1].isSelected = false;
        this.activeId = category.id;
        category.isSelected = true;
        console.log(category.type + ' is active.');
      },
      addCount: function () {
        var num = Number(this.newCount);
        this.newCount = '';
        
        if (Number.isNaN(num)) {
          console.log('Error: Input is not a valid number.')
        } else if (num < 0) {
          console.log('Error: Negative value is not accepted.')
        } else {
          var category = this.data[this.activeId - 1];
          category.count += num;
          console.log(category.type + ' increased by ' + num + ' (now ' 
          + category.count + ').');
        }
      }
    }
  })
  
  // bootstrap the demo
  var vm1 = new Vue({
    el: '#demo',
    data: {
      countText: '',
      gridColumns: ['type', 'count'],
      gridData: [
      { id:  1, isSelected: false, type: '刀剪', count: 1234 },
      { id:  2, isSelected: false, type: '腳架', count: 1234 },
      { id:  3, isSelected: false, type: '棍棒', count: 1234 },
      { id:  4, isSelected: false, type: '工具', count: 1234 },
      { id:  5, isSelected: false, type: '打火機', count: 1234 },
      { id:  6, isSelected: false, type: '鉛酸電池', count: 1234 },
      { id:  7, isSelected: false, type: '槍刀玩具', count: 1234 },
      { id:  8, isSelected: false, type: '噴罐', count: 1234 },
      { id:  9, isSelected: false, type: '防狼噴霧', count: 1234 },
      { id: 10, isSelected: false, type: '煙火', count: 1234 },
      { id: 11, isSelected: false, type: '易燃液體', count: 1234 },
      { id: 12, isSelected: false, type: '腐蝕液體', count: 1234 }
      ]
    }
  })
</script>
</body>